@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Board Game Sleeves</title>
    @*<script src="~/scripts/jquery-1.12.4.min.js"></script>*@
    <link rel="stylesheet" href="~/dist/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    @Scripts.Render("~/scripts/jquery.multiselect.js")

  
</head>
<body>
    <header>
        <figure>
            <img src="~/dist/img/logo.svg" alt="Logo">
        </figure>
        <div class="page-title">
            <h1>Board Game Sleeves</h1>
        </div>
        <nav>
            <ul>
                @if (Session["AdminId"] != null)
                {
                    <li>@Html.ActionLink("Sleeves", "Index", "Sleeves")</li>
                    <li>@Html.ActionLink("Games", "Index", "Games")</li>
                    <li>@Html.ActionLink("Admins", "Index", "Accounts")</li>
                    <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                }
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>