@model ArcaneTinmen.Models.Sleeve

<div class="row">
    <div class="col-md-4">
        <strong>Name:</strong><p>@Model.Name</p><br />
        <strong>Description:</strong><p>@Model.Description</p><br />
        <strong>Height:</strong><p>@Model.Height</p><br />
        <strong>Widht:</strong><p>@Model.Width</p><br />
        <strong>Amount:</strong><p>@Model.StockAmount</p><br />
    </div>

    <div class="col-md-7">
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.Hidden("SleeveId", Model.SleeveId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        }
    </div>
</div>