@model ArcaneTinmen.Models.Admin

<section class="form-login">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Admin</h4>
        @Html.ValidationSummary(true)
        <div class="input-field">
            @Html.LabelFor(model => model.Username)
            <div>
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="input-field">
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password, "")
            </div>
        </div>

        <div class="form-submit">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>

        @*<dl>
            <dt>@Html.LabelFor(model => model.Username)</dt>
            <dd>@Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)</dd>
            <dt>@Html.LabelFor(model => model.Password)</dt>
            <dd>@Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "")</dd>
        </dl>*@
    }
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
