@model ArcaneTinmen.Models.Sleeve

@{
    ViewBag.Title = "Create";
}

<section class="section section-form">
    <h1>Add a new sleeve</h1>

    <div class="form form-create">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary(true, "")
                <div>
                    @Html.LabelFor(model => model.SleeveId)
                    <div>
                        @Html.EditorFor(model => model.SleeveId)
                        @Html.ValidationMessageFor(model => model.SleeveId, "")
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.Name)
                    <div>
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name, "")
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.Description)
                    <div>
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description, "")
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.Height)
                    <div>
                        @Html.EditorFor(model => model.Height)
                        @Html.ValidationMessageFor(model => model.Height, "")
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.Width)
                    <div>
                        @Html.EditorFor(model => model.Width)
                        @Html.ValidationMessageFor(model => model.Width, "")
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.SalePrice)
                    <div>
                        @Html.EditorFor(model => model.SalePrice)
                        @Html.ValidationMessageFor(model => model.SalePrice, "")
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.StockAmount)
                    <div>
                        @Html.EditorFor(model => model.StockAmount)
                        @Html.ValidationMessageFor(model => model.StockAmount, "")
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.CardImageFileName)
                    <div>
                        @Html.EditorFor(model => model.CardImageFileName, new { htmlAttributes = new { placeholder = "Image filename" } })
                        @Html.ValidationMessageFor(model => model.CardImageFileName, "")
                    </div>
                </div>

                <div>
                    @Html.LabelFor(model => model.BadgeImageFileName)
                    <div>
                        @Html.EditorFor(model => model.BadgeImageFileName, new { htmlAttribute = new { placeholder = "Badge filename" } })
                        @Html.ValidationMessageFor(model => model.BadgeImageFileName, "")
                    </div>
                </div>
            </div>
            <p class="link-bar">
                <input type="submit" value="Create" class="btn" /> |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
    </div>
</section>


